.fl{
    background-color: #ff4400;
}
.fr{
    background-color: blue;
}
.a{
    position: relative;
}
.b{
    position: absolute;
    top: 50px;
    left: 60px;
    background-color: blue;
    height: 20px;
    width:20px;
}