.fl{
    background-color: #ff4400;
}
.fr{
    background-color: blue;
}
.b{
    position: absolute;
    top: 50px;
    left: 60px;
    background-color: blue;
    height: 20px;
    width:20px;
}
.a{
    width: 0;
    height: 0;
    border: 40px solid;
    border-color: transparent  green;